<h1 mat-dialog-title>Nueva Tarjeta</h1>
<div mat-dialog-content>
  <mat-form-field style="width: 100%" appearance="fill">
    <mat-label>Numero de tarjeta</mat-label>
    <input matInput [(ngModel)]="data.pan" autocomplete="off" >
  </mat-form-field>
  <mat-form-field style="width: 100%" appearance="fill">
    <mat-label>Nombre del titular</mat-label>
    <input matInput [(ngModel)]="data.customerName" autocomplete="off" >
  </mat-form-field>
  <mat-form-field style="width: 100%" appearance="fill">
    <mat-label>Identificacion del titular</mat-label>
    <input matInput [(ngModel)]="data.customerId" autocomplete="off" >
  </mat-form-field>
  <mat-form-field style="width: 100%" appearance="fill">
    <mat-label>Telefono del titular</mat-label>
    <input matInput [(ngModel)]="data.customerPhone" autocomplete="off" >
  </mat-form-field>
  <section class="example-section">
    <label class="example-margin">Tipo de tarjeta</label>
    <mat-radio-group [(ngModel)]=data.type>
      <mat-radio-button color="primary" class="example-margin" value="DEBITO">DEBITO</mat-radio-button>
      <mat-radio-button color="primary" class="example-margin" value="CREDITO">CREDITO</mat-radio-button>
    </mat-radio-group>
  </section>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Cancelar</button>
  <button mat-button [mat-dialog-close]="data" cdkFocusInitial>Guardar</button>
</div>
