<h1 mat-dialog-title>Nueva Transaccion</h1>
<div mat-dialog-content>
  <mat-form-field style="width: 100%" appearance="fill">
    <mat-label>Referencia</mat-label>
    <input matInput [(ngModel)]="data.referenceNumber" autocomplete="off" >
  </mat-form-field>
  <mat-form-field style="width: 100%" appearance="fill">
    <mat-label>Monto</mat-label>
    <input matInput [(ngModel)]="data.buyAmount" autocomplete="off" >
  </mat-form-field>
  <mat-form-field style="width: 100%" appearance="fill">
    <mat-label>Direccion</mat-label>
    <input matInput [(ngModel)]="data.buyAddress" autocomplete="off" >
  </mat-form-field>

</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Cancelar</button>
  <button mat-button [mat-dialog-close]="data" cdkFocusInitial>Guardar</button>
</div>

